@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Your additional styles here */
body {
  /* background-color: #111827; */
  background: linear-gradient(to bottom right, #1f2937, #111827);
}
.bg-qs-color {
  background-color: #80b4fb;
}
.qs-dark-theme {
  /* background-color: #111827; */
  background: linear-gradient(to bottom right, #1f2937, #111827);
}
